* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --white: #FFF;
    --whitesmoke: #F9F9F9;
    --light-grey: #ececec8e;
    --grey: #C4C4C4;
    --medium-grey: #A7A7A7;
    --deep-grey: #33322f;
    --black: #000000;
    --blue: #1B77F3;
    --red: #CF3C3F;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #304a37;
    width: 100%;
    height: 90px;
    text-align: right;
}

.logo {
   width: 20%;
   padding: 10px 0 0 0;
}

.started {
    padding-top: 35px;
    width: 60%;
    
}


.started a {
    background-color: #f9f5ec;
    color: #304a37;
    text-decoration: none;
    border-radius: 18px; 
    font-weight: bold;
    padding: 8px 12px;
    font-size: 19px;
    transition: all 0.5s;
}

.started a:hover {
    background-color: #5e8769;
    color: #f9f5ec;
    text-decoration: none;
    border-radius: 18px; 
    font-weight: bold;
    padding: 8px 12px;
    font-size: 21px;

}



section.home {
    height: 450px;
    background-color: #f9f5ec;
}

.banner1  {
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}

.home h1 {
    text-align: center;
    font-size: 40px;
    color: #33322f;
}


section.services {
    height: 370px;
    border: 2px solid gray;
  
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    color: #33322f;
    width: 100vw;
    text-align: center;
    
}

.container1, .container2, .container3 img {
    justify-content: center;
}

.container1, .container2, .container3 h2 {
    text-align: center;
    padding: 10px;
} 

.filters h1 {
    text-align: center;
    padding-top: 0px;
    font-size: 40px;
    color: #445f50;
}



section.teste {
    text-align: center;
}


footer {
    background-color: #445f50;
    height: 288px;
}

.footer-text {
    color:#f9f5ec;
    padding-top: 60px;
    padding-left: 60px;
}

.footer-box {
    display: flex;
}


.footer-box a{
    padding: 20px;
    background-color: #f9f5ec;
    color: #304a37;
    margin: 17px 0 15px 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s;
}


.login__label {
    padding-left: 60px;
    padding-top: 15px;
    display: block;
    width: 500px;
}

.input {
    width: 100%;
    background-color: none;
    border: 2px solid #f9f5ec;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    background-color: #445f50;
    font-weight: 600;
    color: var(--deep-grey);    
}
  
.login__label span {
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 20px;
    cursor: text;
    transition: all 200ms ease;
}


.input:focus {
    background-color: none;
    color: #f9f5ec;
    border: 2px solid #f9f5ec;
    border-radius: 20px;
}
  
.login__label .span-active {
    font-size: 0.5em;
    padding-left: 15px;
    margin: 8px 10px;
   
}

